name: zego_uikit_prebuilt_call
description: PrebuiltCall is a full-featured call kit that provides a realtime call invitation, voice/video chat, device detection, etc. Add a voice/video call to your app in minutes.
version: 4.16.12
homepage: https://www.zegocloud.com/
repository: https://github.com/ZEGOCLOUD/zego_uikit_prebuilt_call_flutter
screenshots:
  - description: "one on one call"
    path: images/one-on-one-call.png
  - description: "full-featured group call"
    path: images/group-call.png

environment:
  sdk: ">=2.16.2 <4.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

  zego_uikit: ^2.27.16
  zego_plugin_adapter: ^2.13.4
  zego_uikit_signaling_plugin: ^2.8.6

  zego_zpns: ^2.6.0+3
  zego_callkit: ^1.0.0+4

  vibration: ^1.9.0
  audioplayers: ^6.0.0
  statemachine: ^3.3.1
  uuid: ^4.4.0
  permission_handler: ^11.3.1
  shared_preferences: ^2.2.3
  plugin_platform_interface: ^2.1.8
  package_info_plus: ^8.0.2

  #  1. make kotlin version >= 1.8.0, open the your_project/android/app/build.gradle file, and modify the kotlin_version to 1.8.0.
  #  2. make gradle version >= 7.0, open the your_project/android/gradle/wrapper/gradle-wrapper.properties file, and modify the distributionUrl to https\://services.gradle.org/distributions/gradle-7.0-all.zip.
  flutter_callkit_incoming_yoer: ^2.0.4+1
  floating: ^4.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^3.0.0
  import_sorter: ^4.6.0 # run 'flutter pub run import_sorter:main'
  dart_code_metrics: any

flutter:
  assets:
    # call
    - assets/icons/

    # invitation
    - assets/invitation/audio/
    - assets/invitation/icons/
  plugin:
    platforms:
      android:
        package: com.zegocloud.uikit.call_plugin
        pluginClass: ZegoUIKitCallPlugin
      ios:
        pluginClass: ZegoUIKitCallPlugin

topics:
  - call
  - call-invitation
  - video-call
  - audio-call
  - offline-call
