name: zego_uikit_prebuilt_call
description: PrebuiltCall is a full-featured call kit that provides a realtime call invitation, voice/video chat, device detection, etc. Add a voice/video call to your app in minutes.
version: 4.18.0
homepage: https://www.zegocloud.com/
repository: https://github.com/ZEGOCLOUD/zego_uikit_prebuilt_call_flutter
screenshots:
  - description: "one on one call"
    path: images/one-on-one-call.png
  - description: "full-featured group call"
    path: images/group-call.png

environment:
  sdk: ">=2.16.2 <4.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

  zego_uikit: ^2.28.24
  zego_plugin_adapter: ^2.13.10
  zego_uikit_signaling_plugin: ^2.8.16


  vibration: ^3.1.3
  audioplayers: ^6.5.0
  just_audio: ^0.10.4
  statemachine: ^3.4.0
  uuid: ^4.5.1
  permission_handler: ^12.0.1
  shared_preferences: ^2.5.3
  plugin_platform_interface: ^2.1.8
  package_info_plus: ^8.3.0
  flutter_volume_controller: ^1.3.3
  flutter_ringtone_player: ^4.0.0+4
  flutter_callkit_incoming: ^2.5.5
  floating: ^6.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^3.0.0
  import_sorter: ^4.6.0 # run 'flutter pub run import_sorter:main'

flutter:
  assets:
    # call
    - assets/icons/

    # invitation
    - assets/invitation/audio/
    - assets/invitation/icons/
  plugin:
    platforms:
      android:
        package: com.zegocloud.uikit.call_plugin
        pluginClass: ZegoUIKitCallPlugin
      ios:
        pluginClass: ZegoUIKitCallPlugin

topics:
  - call
  - call-invitation
  - video-call
  - audio-call
  - offline-call
